<!-- posting.html (dj4ch08 project) -->
{% extends "base.html" %}
{% block title %}撰寫心得{% endblock %}
{% block content %}
<div class='container'>
{% if message %}
    <div class='alert alert-warning'>{{ message }}</div>
{% endif %}
<form name='my form' action='.' method='POST'>
    {% csrf_token %}
    覺得如何呢?：<br/>
    {% for m in values %}
    <input type='radio' name='mood' value='{{ m.status }}'>{{ m.status }}
    {% endfor %}
    <br/>
    撰寫回饋：<br/>
    <textarea name='user_post' rows=4 cols=70></textarea><br/>
    <label for='user_id'>您的代稱：</label>
    <input id='user_id' type='text' name='user_id'>
    <label for='user_pass'>張貼/刪除密碼：</label>
    <input id='user_pass' type='password' name='user_pass'><br/>
    <input type='submit' value='提交回饋'>
    <input type='reset' value='清除重填'>
</form>
</div>	
{% endblock %}