{% extends "base.html" %}
{% block title %}體驗回饋{% endblock %}
{% block content %}
<body style="background-color: #f9f4e1;">
<div class="container-fluid" style="max-width: 700px;margin:0 auto;text-align: center;min-height: 500px;padding-top:2rem">
<h2>體驗回饋</h2>
<h4>您對諮詢的體驗回饋是 Jeromen 持續進步的動力，若您尚未體驗過諮詢，觀看
      其他的朋友的回饋對諮詢也會更加了解 !
</h4>
<div class="container-fluid">
<div class="row border">
<div class="col-xs-12 col-sm-6 mb-5">
<div class="card  " >
      <img src="https://picsum.photos/200/200?random=1" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">觀看回饋</h5>
        <p class="card-text">看看各方朋友對 Jormen 的諮詢體驗心得吧</p>
        <a href="/feedback/list" class="btn btn-primary">前往觀看!</a>
      </div>
</div>
</div>
<div class="col-xs-12 col-sm-6">
<div class="card " >
      <img src="https://picsum.photos/200/200?random=2" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">撰寫回饋</h5>
        <p class="card-text">已體驗過諮詢的您不妨撰寫您的體驗心得吧!</p>
        <a href="/feedback/post" class="btn btn-primary">前往撰寫</a>
      </div>
</div>
</div>
</div>
</div>
</div>
</body>

{% endblock %}