*{
    position: relative;
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    width:100%;
}
.bookContainer{
    width:50%;
    border:1px solid red;
    margin:0 auto;
}
table.datatable, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}


.datatable{
    width: 100%;
    margin: 1em 0 2em;
    display: table;
}
.dataTable td, .dataTable th {
    padding: 5px;
    line-height: 1.5em;
    border: 1px solid #bbb;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: auto;
    text-align: center;
}
.forBtable{
    display: block;
    line-height: 60px;

}
.forStable{
    display: block;
    line-height: 60px;
}
.dataTable tbody td {
    display: table-cell;
}