{% extends 'base.html' %}

{% block title %} 相關音檔 {% endblock %}

{% block head %}
<style>
    body, html {
        background-color: #f51901;
    }
</style>
{% endblock %}
{% block content %}
<div class="container" >
    <div class="container-fluid w-100 ">
        <div class="row w-100 ">
            {% for p in videos %}
            <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
                <div class="card text-center bg-info"  style="border:1px solid red;margin-left:.5rem;margin-right:.5rem;">
                    <img src="https://images.chinatimes.com/newsphoto/2024-04-02/656/20240402004466.jpg" class="card-img-top" >
                    <div class="card-body">
                        <h4 class="card-title fw-bold">{{ p.video_title }}</h4>
                        <p class="card-text fw-medium">
                            {{ p.video_description }}
                        </p>
                    </div>
                    <div class="card-body">
                        <a href="{{ p.video_link }}" class="card-link">
                            <button  type="button" class="btn btn-primary">觀看影片</button>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
