{% extends 'base.html' %}

{% block title %} AboutJeorme {% endblock %}

{% block content %}
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../../static/css/About.css"> 
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
      <title>AboutJeorme </title>
  </head>
<body style=" background: linear-gradient(to right, 
#000 0%,
#333 20%,
transparent 50%,
#333 80%,
#000 100%
)">

  <div class="wrapper">
    <div class="center-line">
      <a href="#" class="scroll-icon">
      <i class="fas fa-caret-up"></i>   
      </a>
    </div>
    {% for about in abouts %}
    {% if forloop.counter0|divisibleby:2 %}
    <div class="row row-1">
      <section>
        <i class="icon fas fa-home"></i> 
        <div class="details">
          <span class="title">{{about.about_title}}</span>
          <span>{{about.about_year}}</span>
        </div>
        <p>{{about.about_content}}</p>
      </section>
    </div>
    {% else %}
    <div class="row row-2">
      <section>
        <i class="icon fas fa-star"></i>
        <div class="details">
          <span class="title">{{about.about_title}}</span>
          <span>{{about.about_year}}</span>
        </div>
        <p>{{about.about_content}}</p>
      </section>
    </div>
    {% endif %}
   
    {% endfor %}
  </div>

</body>

{% endblock %}