{% extends 'base.html' %}

{% block title %} AboutJeorme {% endblock %}

{% block content %}
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- <link rel="stylesheet" href="../../static/css/WhatDetails.css"> -->
      <title>AboutJeorme </title>
  </head>
<body>
  <h2>
      近年在台灣多個政論節目活耀，在台灣有高知名度，在兩岸也有豐富採訪經驗的日本記者矢板明夫，昨在臉書發文，透露其離開服務多年的產經新聞，「今天對我來說有特別的意義。因為5月31日，是我在産経新聞服務的最後一天。」他也秀出新名片，日身分將是「日本資深媒體人」，他和家人都會留在台灣，捍衛台灣自由民主，也從事台日交流工作
  </h2>

</body>

{% endblock %}