{% extends 'base.html' %}

{% block title %} 預約日曆 {% endblock %}

{% block content %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../static/css/Book.css" rel="stylesheet">
    <title>預約日曆</title>
    <style>
        table { border-collapse: collapse; width: 100%; }
        th,td,tr { border: 1px solid #020000a0; padding: 8px; }
        th { background-color: #f2f2f2; }
        td { height: 4rem; }  
    </style>
</head>
<body>
    <h1 style="text-align: center;margin-bottom:1rem;margin-top:1rem;">預約日曆</h1>
    <div style="text-align: center;margin-bottom:8px;">
        
        <button type="button" class="btn btn-primary me-5">
            <a href="{% url 'booking_calendar_with_date' previous_week.year previous_week.month previous_week.day %}"
            style="text-decoration: none;color:#fff"
            >上一周</a>
        </button>
        <button type="button" class="btn btn-success">
            <a href="{% url 'booking_calendar_with_date' next_week.year next_week.month next_week.day %}" style="text-decoration: none;color:#fff">下一周</a>
        </button>
     
        
    </div>
    <table style="border:3px #000000 solid;" cellpadding="10" border='1'>
        <thead>
            <tr style="border:3px #000000 solid;" cellpadding="10" border='1'>
                <th style="border:3px #000000 solid;" cellpadding="10" border='1'><span class="forBtable">日期</span><span class="forStable">時段</span></th>
                {% for date in week_dates %}
                    <th>{{ date|date:"Y年m月d日" }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>              
            {% for slot_id, slot_desc in slot_choices %}
                <tr style="border:3px #000000 solid;" cellpadding="10" border='1'>
                    <td style="border:3px #000000 solid;" cellpadding="10" border='1'>{{ slot_desc }}</td>
                    {% for date in week_dates %}
                        <td style="border:3px #000000 solid;text-align: center;" cellpadding="10" border='1' >
                            {% for booking in bookings %}
                                {% if booking.booking_slot.slot_id == slot_id and booking.date == date %}
                                    <div >
                                        {{ booking.booking_description }} 
                                        {% if not booking.is_booking %} 
                                        <button type="button" class="btn btn-primary mt-3 mb-3"
                                        
                                        >可預約</button>
                                        {% else %} 
                                        <p style="font-size:20px;color:red;font-weight:800">已被預約</p>
                                        {% endif %}
                                    </div> 
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
{% endblock %}