<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="../../static/css/Home.css" rel="stylesheet" >
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
      <title>WhatHuman</title>
</head>
<body>
      <div class="briefWrap">
            <h1 style="margin-bottom:2rem">什麼是人類圖 ?</h1>
            <div class="briefItems">
            <div class="briefImage">
              <img src="https://picsum.photos/600/350?random=10"/>
            </div>
            <div class="briefText">
            <h2>Jüdische Gemeinden in Deutschland: "Einfach nur Angst"</h2>
                          <p>Nach den Terrorangriffen der Hamas in Israel schauen die jüdischen Gemeinden auf die Entwicklung in Nahost. Sie haben Sorge, auch in Deutschland nicht mehr sicher zu sein.
                    </p>
                    <Stack spacing={2} direction="row" margin="0 atuo">
                    <div style="margin-left: auto;margin-right: auto">
                <button type="button" class="btn btn-primary">
                <a href="/what" style="text-decoration:none;color:white">了解更多 ! </a>
                </button>
              </div>
            </Stack>
            </div>
            </div>
            <div class="briefItems">
            <div class="briefText">
            <h2>Jüdische Gemeinden in Deutschland: "Einfach nur Angst"</h2>
                          <p>Nach den Terrorangriffen der Hamas in Israel schauen die jüdischen Gemeinden auf die Entwicklung in Nahost. Sie haben Sorge, auch in Deutschland nicht mehr sicher zu sein.
                    </p>
                    <Stack spacing={2} direction="row" margin="0 atuo">
                    <div style="margin-left: auto;margin-right: auto">
                <ColorButton variant="contained">
                  <button type="button" class="btn btn-primary">
                        <a href="/what" style="text-decoration:none;color:white">了解更多 ! </a>
                        </button>
              </div>
            </Stack>
            </div>
            <div class="briefImage">
              <img src="https://picsum.photos/600/350?random=11"/>
            </div>
            </div>
            </div>
</html>